<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center">
    <form action="" method="post">
        account:
        <input type="text" name="account">
        <br>
        password:
        <input type="password" name="password">
        <br>
        <button type="submit" name="operation" value="L">Login</button>
        <button type="submit" name="operation" value="R">Register</button>
    </form>
</div>
</body>
</html>

